@import "../../../App.scss";

.basic-info {
    .card {
        .card-header {
            h5 {
                font-weight: 900;
                font-family: "Roboto", sans-serif;
            }
        }

        .card-body {
            .img-container {
                .image {
                    width: 130px;
                    height: 130px;
                    overflow: hidden;
                    margin: auto;
                    position: relative;

                    .overlay {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 60px;
                        cursor: pointer;
                        background: rgba(0, 0, 0, 0.562);

                        p {
                            color: #fff;
                            font-size: 13px;
                            font-family: "Roboto", sans-serif;
                        }

                        .upload {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            height: 60px;
                            cursor: pointer;
                            opacity: 0;

                            // filter: alpha(opacity = 0);
                       
                        }
                    }
                }
            }

            form {
                small {
                    font-family: "Roboto", sans-serif;
                }

                .form-control {
                    font-size: 14px;
                    min-height: 40px;
                    font-family: "Roboto", sans-serif;
                }

                .form-control:focus {
                    border: 1px solid $primary;
                }

                .btn {
                    color: #fff;
                    font-weight: 700;
                    font-size: 15px;
                    background: $primary;
                    font-family: "Roboto", sans-serif;
                }
            }
        }
    }
}
