@import "../../../App.scss";

.basic-info {
    .card {
        .card-header {
            h5 {
                font-weight: 900;
                font-family: "Roboto", sans-serif;
            }
        }

        .card-body {
            form {
                small {
                    font-family: "Roboto", sans-serif;
                }

                .form-control {
                    font-size: 14px;
                    min-height: 40px;
                    font-family: "Roboto", sans-serif;
                }

                .form-control:focus {
                    border: 1px solid $primary;
                }

                .btn {
                    color: #fff;
                    font-weight: 700;
                    font-size: 15px;
                    background: $primary;
                    font-family: "Roboto", sans-serif;
                }
            }
        }
    }
}
