@import "~bootstrap/scss/bootstrap";

$primary: #0b1448;
$secondary: #14b3fd;
$dark: #000;

/* Flex Box */

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.flex-column {
    -ms-flex-direction: column !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    flex-direction: column !important;
}

.container {
    @media (min-width: 1480px) {
        max-width: 1400px;
    }
}

.container {
    @media (min-width: 1550px) {
        max-width: 1480px;
    }
}
